<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />

<!-- <title><block name="title">mikai</block></title> -->
<title>米开博客</title>
<meta name="keywords" content="米开博客">
<meta name="description" content="米开博客">

<!-- <link rel="stylesheet" type="text/css" href="__COMMON__/jeasyui/themes/bootstrap/easyui.css">
<link rel="stylesheet" type="text/css" href="__COMMON__/jeasyui/themes/icon.css">
<link rel="stylesheet" type="text/css" href="__COMMON__/kube/kube.css">
<link rel="stylesheet" type="text/css" href="__COMMON__/uploadifive/uploadifive.css">
<link rel="stylesheet" type="text/css" href="__CSS__/main.css">
mikai add
<link rel="stylesheet" type="text/css" href="__CSS__/mikai.css">

<block name="style"></block>


<script type="text/javascript" src="__COMMON__/jeasyui/jquery.min.js"></script>
<script type="text/javascript" src="__COMMON__/jeasyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="__COMMON__/jeasyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="__JS__/jquery.easyui.jkcms.js"></script>
mikai add
<script type="text/javascript" src="__COMMON__/js/ajaxfileupload.js"></script>      
mikai add
<script type="text/javascript" src="__COMMON__/uploadify/jquery.uploadify.min.js"></script>
<script type="text/javascript" src="__COMMON__/uploadifive/jquery.uploadifive.min.js"></script>
<script type="text/javascript" src="__COMMON__/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__COMMON__/ueditor/ueditor.all.js"></script>
lpf add
<script type="text/javascript" src="__COMMON__/js/datagrid-detailview.js"></script>
<block name="head"></block> -->
